<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MovieMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.Movie">
        <id property="movieId" column="movie_id" jdbcType="BIGINT"/>
        <result property="movieCnName" column="movie_cn_name" jdbcType="VARCHAR"/>
        <result property="movieActor" column="movie_actor" jdbcType="VARCHAR"/>
        <result property="movieDirector" column="movie_director" jdbcType="VARCHAR"/>
        <result property="movieDetail" column="movie_detail" jdbcType="VARCHAR"/>
        <result property="movieDuration" column="movie_duration" jdbcType="VARCHAR"/>
        <result property="movieType" column="movie_type" jdbcType="VARCHAR"/>
        <result property="movieReleasedate" column="movie_releaseDate" jdbcType="DATE"/>
        <result property="movieCountry" column="movie_country" jdbcType="VARCHAR"/>
        <result property="moviePicture" column="movie_picture" jdbcType="VARCHAR"/>
        <result property="movieState" column="movie_state" jdbcType="INTEGER"/>
    </resultMap>

    <select id="movieList" resultMap="BaseResultMap">
        select  * from movie
    <where>
        <if test="movieCnName != null and movieCnName !=''">
            and movie_cn_name like '%${movieCnName}%'
        </if>
    </where>
            order by movie_id  desc
    </select>

    <insert id="addMovie">
        insert into movie (movie_cn_name, movie_actor, movie_director, movie_detail, movie_duration, movie_type, movie_releaseDate, movie_country, movie_picture, movie_state)
        values (#{movieCnName}, #{movieActor}, #{movieDirector}, #{movieDetail}, #{movieDuration}, #{movieType}, #{movieReleasedate}, #{movieCountry}, #{moviePicture}, #{movieState})
    </insert>

    <select id="getMovieInfo" resultMap="BaseResultMap">
         select * from movie where movie_id = #{movieId}
    </select>
    <update id="updateMovie">
        update movie set movie_cn_name = #{movieCnName}, movie_actor = #{movieActor}, movie_director = #{movieDirector}, movie_detail = #{movieDetail}, movie_duration = #{movieDuration}, movie_type = #{movieType}, movie_releaseDate = #{movieReleasedate}, movie_country = #{movieCountry}, movie_picture = #{moviePicture}, movie_state = #{movieState} where movie_id = #{movieId}
    </update>

</mapper>